{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="about">
    <marquee behavior="scroll" direction="left"><h4>Welcome to CityGhoom ! your one and only the same day delivery platform.</h4></marquee>
    <div class="scroll">
        <h5>Who We Are ?</h5>
        <h6> Founded in 2023, CityGhoom is a pioneering online shopping platform that revolutionizes the way you shop. We recognize the significance of speed and convenience in today’s fast-paced world, and that’s why our unique selling proposition (USP) lies in our commitment to same-day delivery. With Cityghoom, you can relish the excitement of placing an order and receiving it at your doorstep on the very same day.</h6>
        <h5>Our Mission</h5>
        <h6>At Cityghoom , our mission is to provide an unparalleled shopping experience where efficiency meets customer satisfaction. We have meticulously curated an extensive selection of products, spanning electronics, fashion, home essentials, and beyond. Our dedication to offering a comprehensive range ensures that you’ll find everything you need in one place. Moreover, our strategic partnerships with trusted vendors and renowned brands enable us to present a diverse array of high-quality products at competitive prices. </h6>
        <h5>Our Aim</h5>
        <h6>Our commitment to exceptional customer service sets us apart. We prioritize your satisfaction and constantly strive to exceed your expectations. Our user-friendly website and mobile app have been thoughtfully designed to make your shopping journey seamless and enjoyable. With intuitive search options, comprehensive product descriptions, and valuable customer reviews, you can make informed decisions with confidence.  What truly distinguishes us is our lightning-fast same-day delivery service. Once you’ve placed your order, our dedicated team of logistics experts springs into action, swiftly packaging and dispatching your items. Through our robust network of delivery partners across the country, we ensure that we can reach you wherever you may be. Whether it’s a last-minute gift or an urgent household necessity, Cityghoom guarantees that you never have to endure unnecessary delays.</h6>
        <h3>We highly value your feedback and continuously strive to enhance our services. Your satisfaction is our higher priority, and our responsive customer support team is available to address any queries or concerns you may have.<br>
            Happy shopping!</h3>
    </div>

</div>

{% endblock %}