{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="page-banner-content text-center">
                <h4 class="breadcrumb-title">Password Reset</h4>
                <div class="breadcrumb-two">
                    <nav>
                       <nav class="breadcrumb-trail breadcrumbs">
                          <ul class="breadcrumb-menu">
                             <li class="breadcrumb-trail">
                                <a href=""><span>Home</span></a>
                             </li>
                             <li class="trail-item">
                                <span>Password reset</span>
                             </li>
                          </ul>
                       </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
