{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="payment">
    <h3><b>Payments</b></h3>
    <h5>How do I pay for a CityGhoom purchase?</h5>
    <h6>CityGhoom offers you only one payment method ,and that is only Cash On Delivery(C-O-D).</h6>
    <h5>Are there any hidden charges when I make a purchase on CityGhoom ?</h5>
    <h6>There are NO hidden charges when you make a purchase on CityGhoom. The prices listed for all the items are final and all-inclusive. The price you see on the product page isexactly what you pay. Delivery charges may be extra depending on the seller’s policy. Please check individual sellers for the same, and the delivery charges were be made on the users locations .</h6>
    <h5>What is Cash on Delivery?</h5>
    <h6>As we were offering only Cash on Delivery (C-o-D) payment method, With C-o-D you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment(T&c's).<br><br>There no maximum order value for a Cash on Delivery (C-o-D) payment .It is strictly a cash-only payment method. Gift Cards or store credit cannot be used for C-o-D orders. Foreign currency cannot be used to make a C-o-D payment. Only Indian Rupees accepted.</h6>
    <h5>How do I place a Cash on Delivery (C-o-D) order?</h5>
    <h6>All items that have the “Cash on Delivery Available” icon are valid for order by Cash on Delivery. Add the item(s) to your cart and proceed to checkout. When prompted to choose a payment option, select “Pay By Cash on Delivery”.<br><br>
        Once verified and confirmed, your order will be processed for shipment in the time specified, from the date of confirmation. You will be required to make a cash-only payment to our delivery partner at the time of delivery of your order to complete the payment.</h6>

</div>
{% endblock %}