{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="product-head">
    <div class="prohead1">
        <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="100px">


    </div>
    <div class="prohead2">
        <h6>Title</h6>

    </div>
    <div class="prohead3">
        <h6>Rating</h6>

    </div>
    <div class="prohead4">
        <h6>Price</h6>

    </div>
</div>
<div id="product-slide">
    <div class="productslide1">
        <div class="proimg">
            <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="50px">
            <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="50px">
            <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="50px">
            <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="50px">
            <img src="static\images\h1.jpg" alt="Image 2" height="50px" width="50px">

        </div>
        <div class="mainproimg">
            <img src="static\images\h1.jpg" alt="Image 2" height="auto" width="300px">

        </div>


    </div>
    <hr>
    <div class="productslide2">
        <span>visit store</span>
        <h5>Casual Shirt for Men|| Shirt for Men|| Men Stylish Shirt || Men Printed Shirt (J-Mistry)</h5>
        <hr>
        <p><span> ₹329 </span></p>
        <p>Inclusive of all taxes</p>
        <hr>
        <div class="productbox">
            <div class="box1">
                <h6>Bank Offer</h6>
                <p>Upto ₹500.00 discount<br> on SBI Credit<br> CardsUpto ₹500.00<br> discount on SBI</p>
            </div>
            <div class="box1">
                <h6>No Cost EMI</h6>
                <p>Avail No Cost EMI on<br>select cards for<br> CardsUpto ₹500.00<br> discount on SBI</p>
            </div>
            <div class="box1">
                <h6>Bank Offer</h6>
                <p>Upto ₹500.00 discount<br> on SBI Credit<br> CardsUpto ₹500.00<br> discount on SBI</p>
            </div>
        </div>
        <p><b>About this item:</b>
            Playback- Airdopes Atom 81 offer a total playtime of up to 50HRS, including up to 10HRS of playtime per
            earbud.
            Clear Voice Calls- Be heard clear across voice calls without those usual interruptions, with the Quad Mics
            ENx Tech enabled Airdopes Atom 81, that cancels out unwanted background noises during calls.
            Drivers- Delve into the boAt immersive auditory experience on Airdopes Atom 81 TWS earbuds courtesy its 13mm
            audio drivers. Frequency - 20Hz-20KHz
            Super Low Latency- Enjoy a lag less entertainment experience with BEAST Mode for low latency(50ms) so that
            your gaming sessions always stay smooth.
            ASAP Charge - Courtesy our ASAP Charge tech, the earbuds can garner up to 60Min of playtime in just 5Min of
            charging.
            Bluetooth Version- Its quipped with the latest Bluetooth v5.3 for faster connectivity.
            Instant Connect- The IWP tech makes it easier to power on the earbuds which occurs as soon as you open the
            case lid when the earbuds are being kept inside.</p>

    </div>
    <div class="productslide3">

    </div>

</div>
<hr>

<!-- product slider  -->

<div class="pro_con">
    <div class="pro-slider">
        <!-- Slide 1 -->
        <div class="pro_slide">
            <img src="static\images\h1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p>$19.99</p>
        </div>

        <!-- Slide 2 -->
        <div class="pro_slide">
            <img src="static\images\h2.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>$24.99</p>
        </div>

        <!-- Slide 3 -->
        <div class="pro_slide">
            <img src="static\images\h3.jpg" alt="Product 3">
            <h3>Product 3</h3>
            <p>$14.99</p>
        </div>
        <!-- Slide 1 -->
        <div class="pro_slide">
            <img src="static\images\h1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p>$19.99</p>
        </div>

        <!-- Slide 2 -->
        <div class="pro_slide">
            <img src="static\images\h2.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>$24.99</p>
        </div>

        <!-- Slide 3 -->
        <div class="pro_slide">
            <img src="static\images\h3.jpg" alt="Product 3">
            <h3>Product 3</h3>
            <p>$14.99</p>
        </div>
        <!-- Slide 1 -->
        <div class="pro_slide">
            <img src="static\images\h1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p>$19.99</p>
        </div>

        <!-- Slide 2 -->
        <div class="pro_slide">
            <img src="static\images\h2.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>$24.99</p>
        </div>

        <!-- Slide 3 -->
        <div class="pro_slide">
            <img src="static\images\h3.jpg" alt="Product 3">
            <h3>Product 3</h3>
            <p>$14.99</p>
        </div>
        <!-- Slide 1 -->
        <div class="pro_slide">
            <img src="static\images\h1.jpg" alt="Product 1">
            <h3>Product 1</h3>
            <p>$19.99</p>
        </div>

        <!-- Slide 2 -->
        <div class="pro_slide">
            <img src="static\images\h2.jpg" alt="Product 2">
            <h3>Product 2</h3>
            <p>$24.99</p>
        </div>

        <!-- Slide 3 -->
        <div class="pro_slide">
            <img src="static\images\h3.jpg" alt="Product 3">
            <h3>Product 3</h3>
            <p>$14.99</p>
        </div>
    </div>
    
</div>

<div id="sixth-slide">
    <div class="slide-head1">
        <h5>Related Product's</h5>
    </div>

    <div class="product-scrolling-bar1">
        <div class="products1">
            <!-- Add your product items here -->
            <div class="product-item1"><img src="static\images\h1.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h2.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h3.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h4.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h5.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h6.jpg" alt="Image 2"></div>
            <div class="product-item1"><img src="static\images\h7.jpg" alt="Image 2"></div>

            <!-- Add more product items here -->
        </div>
    </div>
</div>





{% endblock %}