{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="ship">
    <h4>Shipping Policy</h4>
    <h5><b><span>1)</span></b> Place orders before the Same-Day Delivery order cutoff time. The "order within countdown" timer provides the window of time in which you must place the order to receive your delivery by the date shown.</h5>
    <h5><b><span>2)</span></b> Place orders before the Same-Day Delivery order cutoff time. The "order within countdown" timer provides the window of time in which you must place the order to receive your delivery by the date shown.</h5>
    <h5><b><span>3)</span></b> Select Same-Day at checkout and shipping to a residential address. To know the eligibility of your address for a same-day shipping, goto Cityghoom Same-Day Delivery. Select an eligible destination with at least the stated minimum threshold of eligible items to qualify for Same-Day Delivery.</h5>
    
   

</div>
{% endblock %}