{% extends 'base.html' %}
{% load static %}
{% block content %}

<h5>Terms Of Use</h5>
<h6>AGREEMENT TO OUR LEGAL TERMS</h6>

<div class="term1">
    We are VserveTec Pvt. Ltd., doing business as Ecommerce (‘Company’, ‘we’, ‘us’, or ‘our’), a company registered in
    India at 22 Shivhari Complex, Central Excise Colony Near ICICI bank chatrapati sq Nagpur Maharashtra, India 440015.,
    Nagpur, Maharashtra 440015. We operate the website https://www.cityghoom.com (the ‘Site’), as well as any other
    related products and services that refer or link to these legal terms (the ‘Legal Terms’) (collectively, the
    ‘Services’).You can contact us by phone at 91+8938666696, email at support@cityghoom.com, or by mail to 22 Shivhari
    Complex, Central Excise Colony Near ICICI bank chatrapati sq Nagpur Maharashtra, India 440015., Nagpur, Maharashtra
    440015, India.<br><br>
    These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an
    entity (‘you’), and VserveTec Pvt. Ltd., concerning your access to and use of the Services. You agree that by
    accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT
    AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST
    DISCONTINUE USE IMMEDIATELY.<br><br>
    We will provide you with prior notice of any scheduled changes to the Services you are using. The modified Legal
    Terms will become effective upon posting or notifying you by support@cityghoom.com, as stated in the email message.
    By continuing to use the Services after the effective date of any changes, you agree to be bound by the modified
    terms.<br><br>
    The Services are intended for users who are at least 18 years old. Persons under the age of 18 are not permitted to
    use or register for the Services.
    We recommend that you print a copy of these Legal Terms for your records.

</div>
<h4>TABLE OF CONTENTS</h4>
<div>

</div>

{% endblock %}